# INTRODUCTION TO PANDAS
Pandas is a popular python library for data analysis.

In [2]:
# import pandas 
import pandas as pd

### Dataframe
There are two core objects in pandas:  **Dataframe** and **Series**

**Dataframe**: it is a table containing a row and column entries;

- It consists of a column name/label
- the row label (or index) are by default sequence of natural numbers (0, 1, 2 ...)
- the columns must have the same data length

In [ ]:
# create a Dataframe

pd.DataFrame({'A': [1, 2, 3], 'B': [1, 4, 9], 'C': [1, 8, 27]})

In [ ]:
# the row labels can be modified by using the index key in the Dataframe constructor

pd.DataFrame({'A': [1, 2, 3], 'B': [1, 4, 9], 'C': [1, 8, 27]}, index=['First', 'Second', 'Third'])

### Series
The Series object is used to  create a single *unnamed* column

- row labels can be assigned to Series objects using the index parameter
- the Series can be given an overall name
- a series does not have a column name

In [ ]:
# creating a Series object using its constructor

pd.Series([1, 2, 3, 4, 5, 6], index=['A', 'B', 'C', 'D', 'E', 'F'])

In [ ]:
# adding an overall name to a series object by passing the name argument

pd.Series([1, 2, 3, 4, 5, 6], index=['A', 'B', 'C', 'D', 'E', 'F'], name='Number Series')

### Reading Data Files

It is convinient to read data in a given file into a table format. This is achieved using the read_(file_type) method

- **Using the WINE REVIEW DATASETS as an example**

In [ ]:
# reading a csv formatted file and examining its content using the head method
wine_review = pd.read_csv("winemag-data_first150k.csv")

wine_review.head()

In [ ]:
# reading a json formatted data and examining its content using the head method

wine_review_json = pd.read_json("winemag-data-130k-v2.json")

wine_review_json.head()

### How large is a Dataframe object?

The shape attribute can be use on a Dataframe to check its size - (row, column)

In [ ]:
# check the size of the csv file

wine_review.shape

In [ ]:
# check the size of the json formatted file

wine_review_json.shape

- The csv file contains 150,930 rows and 11 columns; while
- the json formatted file contains 129,971 rows and 13 colums

#### A csv formatted file can be indexed by a specific column

This means that the column used as index will be the first column in the display

In [ ]:
# index by the pprovince column which corresponds to the sixth column/index

wine_review_indexed_by_province = pd.read_csv("winemag-data_first150k.csv", index_col=[6])

wine_review_indexed_by_province.head()

### REPEATING SCALAR VALUES USING THE INDEX

The number of rows can be constructed based on the the length of the index key.
If a scalar value is passed to the column, the the values will be repeated by the length of the index

In [ ]:
simple_df = pd.DataFrame({'A': 1, 'B': 4}, index=[k for k in range(10)])
simple_df

In [ ]:
test = pd.Series(10, index=[k for k in range(10)])
test

### Saving a DataFrame Object 
A DataFrame object can be saved in a specific file format by calling its |to_method| on the DataFrame Object

The file path must be passed as a parameter

- **NOTE**: The extension of the file name must be given along with the parameter

In [ ]:
# to save the simple_df in csv and json format

# csv
df.to_csv('simple_df.csv')

# json

df.to_json('simple_df.json')

## SELECTIONS, INDEXING AND ASSIGNING

- Selecting specific values of a DataFrame or Series 
	- Property of objects are accessed using its attribute
	- Another method is to access it using the column name as index (as in - dictionary key index)
	- Doing this returns a Series object

> NOTE: using this accessors method, the order of access is COLUMN-FIRST and ROW-SECOND

In [ ]:
wine_review_indexed_by_province

In [ ]:
# access the country column using attributes

wine_review_indexed_by_province.country

In [ ]:
# access the country column using index

wine_review_indexed_by_province['country']

The advantage of indexing over attribute access lies in the name of the attribute.

IF the attribute is a string with space, then it is impossible to use attribute access.

- **Index access is more general then Attribute access**

## Pandas Indexing
For more advanced operations, instead of using the attribute/index access, there are two *accessor operator* for indexing in pandas:

-  *loc*
- *iloc*

It is important to note that while native index/attribute accessors is based on retrieving entire column of data, then rows, it is the reverse with pandas accessors - loc and iloc - that is, rows are accessed first followed by columns

#### ILOC
It is used to select data based on its numerical position.

Instead of returning the column Series object like the native accessors, it will instead return the rows Series object

- iloc is ROW-FIRST and COLUMN-SECOND accessors

In [3]:
# remove the unamed column by indexing the Dataframe with it
wine_review = pd.read_csv('winemag-data_first150k.csv', index_col=[0])

In [ ]:
wine_review.head()

In [ ]:
# return the 10000th row-based Series

wine_review.iloc[10000]

#### Creating a new DataFrame from another DataFrame using ILOC

A new DataFrame can be created from the original DataFrame by using the range indexing

- the range indexing will return a row-based DataFrame object with entries depending on the passed range

> the pandas iloc range indexing follows native python, where the last value in the specified range is ignored.

In [ ]:
# a new Dataframe object containing the first three rows

wine_review.iloc[0:3]

#### Creating a column-based Series using ILOC

A column based Series can be returned by passing another key to the iloc representing the integer index of the column

- ROW-FIRST then COLUMN-SECOND

In [ ]:
# access the entire column of the province column

# return a dataframe containing the entire dataset - that is access all the rows in the dataset, 
# then access the province columnn which corresponds to the integer index - 5


wine_review.iloc[:, 5]

In [ ]:
# return a Series object containing the first five columns of the description attributes

# the description attribute has an integer index - 1
wine_review.iloc[0:5, 1]

#### Using a list-based instead of a range-based to create a DataFrame

Instead of passing a range of values as the first element to the iloc accessor, a list of the required rows can be used.

- **This is more flexible than range-based, since one can pass in the specific row numbers of interest**

In [ ]:
# return a DataFrame containing the first, sixth, second and 10th row - in that order

wine_review.iloc[[0, 6, 2, 10]]

In [ ]:
# get the description column of the DataFrame above

wine_review.iloc[[0, 6, 2, 10], 2]

#### Returning the DataFrame in a reversed order using negative values

By passing a negative-first range-based to the iloc, the DataFrame returned will be in the reverse order

In [ ]:
# get the last 10 elements in the reverse order

wine_review.iloc[-10:]

### SUMMARY of ILOC ATTRIBUTE SELECTION

- It generally allows indexing into  a DataFrame 
- It takes two positional elements - 
	- the first determines the row(s) of interest, and
	- the second determines the column(s) of the indexed rows

> **The first positional elements will return a DataFrame containing the rows of interest**, and **the second will return a Series object containing the columns of interest** in the DataFrame returned by the first positional element

the first positional argument can either be a **ranged-based** or a **list of the rows (in integers)** of interest

-- -

### **LABEL-BASED SELECTION - LOC**

It also takes two positional arguments - *the second is optional*

- scalar integer index - this will return a Series representing the rows of the integer index


- range based index- this will return a DataFrame object containing the rows of the range of values


- list index- this does the same thing as range-based, although it has the added advantage of being flexible
	- it will return a DataFrame object containing only the rows of the integer-index in the list

> **NOTE: the first element of the *loc* accessors perform the same operation as the first element of the *iloc* accessor**

> **Also, pandas *loc* indexing does not follow native Python indexing in that, the upper value specified in the range is also returned.**

#### SCALAR-BASED INDEXING

In [ ]:
# return a Series object containing the third row of the DataFrame

wine_review.loc[2]

#### RANGE-BASED INDEXING

In [ ]:
# get the fifth to the tenth rows of tbe DataFrame

wine_review.loc[4:9]

#### LIST-BASED INDEXING

In [ ]:
# return the 5th, 10th, 200th and 1001th rows of the DataFrame

wine_review.loc[[4, 9, 199, 1000]]

In [ ]:
wine_review.loc[0, 'country'] == wine_review.iloc[0, 0]

In [ ]:

wine_review.loc[wine_review.country == 'US']

### LOC SECOND POSITIONAL ELEMENT

While the first position return a row-based Series/DataFrame object, the second elements will return a column-based value/Series/DataFrame object depending on how the second positional element is passed

> The first positional element can be an expression that evaluates to a boolean value
---

Unlike iloc where the second position is an integer, the second position of loc is the data label value (or attribute) which can come in two form

- a scalar data label value: this will return 
	-  value of the data index corresponding to the row, if the first positional element returns a Series object


	- a Series object of the data label corresponding to the elements of the same column returned by the first positional element

- a list of data label: this will return

	- a Series object that corresponds to elements of the rows having the data label (attribute) in the list, IF the first element returns a Series object

	- a DataFrame object containing the rows of elements indexed by the list, IF the first element returns a DataFrame object


---


> A value/Series/DataFrame object is returned depending on the result of the first positional element

#### VALUE, IF the first element returns a Series Object

In [ ]:
# get a value of the description attribute (data index) of the 150th row

wine_review.loc[147, 'description']

#### SERIES if the first element returned a DataFrame

In [ ]:
# get the series containing the description data index of the first five rows

wine_review.loc[0:4, 'description']

#### SERIES if the first element returns a DataFrame

In [ ]:
# get the series containing the description and province data index of the first row

wine_review.loc[0, ['description', 'province']]

#### DataFrame if the first element returned is a DataFrame

In [ ]:
# get the Dataframe containing the description,province and price data index of the 12th, 40th, 144th and 1201th rows

wine_review.loc[[11, 39, 143, 1200], ['description', 'province', 'price']]

#### Using the ILOC experessions below, we obtain the same this as above

We note how flexible the LOC expression is with respect to the second positional argument. 

Instead of using integer index of the attributes as in iloc, the attribute name is used in loc

In [ ]:
wine_review.iloc[[11, 39, 143, 1200], [1, 5, 4]]

#### Range-Based Indexing using the second positional element of LOC

 It is possbile to perform a range based index using the second positional argument. 

> the order of the range is preserved and include the endpoints

In [ ]:
wine_review.loc[10, 'description':'province']

### Difference Between ILOC and LOC

The indexing scheme used by ILOC is the same as native Python. LOC on the other hand will include the last index of the range

USING ILOC

In [ ]:
# this will return a DataFrame starting from the 1st integer index to the 4th - it excludes the 5th

wine_review.iloc[0:5]

USING LOC

In [ ]:
# this will return a DataFrame starting from the 1st integer index to the 5th - it does NOT excludes the 5th

wine_review.loc[0:5]

### INDEX MANIPULATION
The index column can be mutated by using any of the columns in the DataFrame

By using the set_index(|index attribut|) method on the DataFrame. This is equivalent to using the |index_col| argument in the read_|file format| of the pandas method.

> the read_|file format| only works with csv formatted files, while the set_index(|index attribute|) works on any file format

In [ ]:
wine_review

In [ ]:
# index the DataFrame using the region_1 attribute

wine_review.set_index('region_1')

## CONDITIONAL SELECTION
While all the previous expressions indexed the DataFrame using the **structural properties** of the DataFame itself, it is possible to index the DataFrame based on conditional properties satisfied the DataFrame

In [ ]:
wine_review.head()

In [ ]:
# return the DataFrame if the country is Spain

wine_review.loc[wine_review.country == 'Spain']

In [ ]:
# return  the Series containing the provinces of all the rows if the country is Spain

wine_review.loc[wine_review.country == 'Spain', 'province']

In [ ]:
# return the DataFrame containing the province and descripton of all the rows IF the country is Spain

wine_review.loc[wine_review.country == 'Spain', ['province', 'description']]

In [ ]:
# return  the DataFrame containing province and region_1 of all the rows IF country is Spain, AND the region_1 is NOT Toro AND the price is less than `0` dollars

wine_review.loc[(wine_review.country == 'Spain') & (wine_review.region_1 != 'Toro') & (wine_review.price < 10), ['province', 'region_1']]

In [ ]:
# return the 1st, 10th and 20th element of the row of the result above

(wine_review.loc[(wine_review.country == 'Spain') & (wine_review.region_1 != 'Toro') & (wine_review.price < 10), ['province', 'region_1']]).iloc[[1, 10, 20]]

In [ ]:
# return the DataFrame containing country,  description, and province IF it is made in Spain, AND its region_ is TORO OR rated (points) is above average ( >=90)

wine_review.loc[
  (wine_review.country == 'Spain') & 
  ((wine_review.region_1 == 'Toro') |
  (wine_review.points >= 90)), 
  ['country', 'description', 'province', 'points', 'region_1']
  ]

### ISIN CONDITIONAL SELECTOR METHOD

Selects data whose values **is in** a list of of values

In [ ]:
# select wines from Spain or US, and return their country, province, price and rating (points)

wine_review.loc[
  wine_review.country.isin(['Spain', 'US']), 
  ['country', 'province', 'price', 'points']]

In [ ]:
# select wines from Spain or US, and return the DataFrame containing country, province, price, points, IF its price is less than 10 and greater than 4 dollars, and it is rated above average (>= 90)

wine_review.loc[
  (wine_review.country.isin(['Spain', 'US'])) & 
  (wine_review.price.isin([k + 1 for k in range(4, 9)])) &
  (wine_review.points >= 90),
  
  ['country', 'province', 'price', 'points']
  ]

In [ ]:
# we can do  the same operation without using the ISIN operator method

wine_review.loc[
  ((wine_review.country == 'Spain') |
  (wine_review.country == 'US') )&
  (wine_review.price > 4) &
  (wine_review.price < 10) &
  (wine_review.points >= 90),
  
  ['country', 'province', 'price', 'points']
]

Using the **isin** operator method amounts to less written code as shown above

---

#### ISNULL or NOTNULL CONDITIONAL SELECTOR METHOD

This can be used to highlight values in a list of values if they are/ are not empty (NaN)

In [ ]:
# selects price in the DataFrame that is null

wine_review.loc[wine_review.price.isnull()]

In [ ]:
# selects province in the DataFrame whose values is Null
wine_review.loc[wine_review['province'].isnull()]

In [ ]:
# selects province whose region_2 is not null

wine_review.loc[wine_review.region_2.notnull()]

### ASSIGNING DATA

Data can be assigned to a DataFrame by using the dictionary key value variable assignment method.
- the key will serve as the data label (or column name) or attribute of the data to be assigned

- the value will represent the value of the element in each row
---
A value comes in two forms:
- a constant values assigned to all the rows of that column (key)

- an iterable value [that must match the number of rows of the DataFrame]

In [ ]:
# create a new DataFrame from the wine_review, 
# containing the first 10 rows and 
# the following columns: country, province, price

wr = wine_review.loc[0:9, ['country', 'province', 'price']]
wr

In [ ]:
# assign a new column named continent 
# the values of the new column should be
# North America if country is US, or Europe if in Europe

wr['continent'] = 'West'

for i, ctry in enumerate(wr.country):
  if ctry == 'US':
    # this method sees the chained index as two different operations
    # wr['continent'][i] = 'North America'
    
    # this sees them as the same operation, hence better
    wr.loc[i, 'continent'] = 'North America'
    
    continue
  # wr['continent'][i] = 'Europe'
  wr.loc[i, 'continent'] = 'Europe'

# wr['continent'][1] = 'Europe'
wr

# SUMMARY FUNCTIONS & MAPS

This is a more advanced and flexible way of selecting, indexing and assigning (a/to) DataFrame when compared with using the *iloc* and *loc* accessor operators

This is achieved by applying functions to extract insigths from the DataFrame or Series.

In [ ]:
wine_review = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)

wine_review.head()

### Summary Functions
 
These are functions that helps summarize a DataFrame/Series by restructuring it in certains way.

- Examples of Summary Functions
---
---


#### Describe method:

Generates a high level summary of attributes in a given column, based on the **type of data in that column**


- If the type of data is a string, it provides:

	- the total element in the column excluding the empty (NaN)

	- the number of *unique* elements in that column, 

	- the element with the highest frequency,

	- the frequency of the element having the highest frequency
---
- If the type of data in the column is numeric, it provides:

	- the total number of elements in the column excluding the empty ones (NaN)

	- the mean (average) of the data in the column

	- the standard deviation of the data

	- the maximum element in the data

	- the quantile

In [ ]:
# generate a summary of the data in the country column- string type elements

wine_review.country.describe()

# The result shows we have 43 unique countries in the dataset
# the countries with the highest frequency is US, with a frequency of 54,504

In [ ]:
# generate a summary of the data in the price column - numeric type elements

wine_review.price.describe()

#### UNIQUE METHOD

- UNIQUE: the number unique elements for a string and numeric data type

In [ ]:
# get the unique elements in the province attribute

wine_review.province.unique()

#### MEAN METHOD


- MEAN: returns the mean of the numeric datas

In [ ]:
# get the mean of the rating (points)

wine_review.points.mean()

#### VALUE_COUNTS METHOD

- VALUE_COUNT: returns the unique element(s) and their corresponding frequency

In [ ]:
# get the unique elements and the value count of the country column

wine_review.country.value_counts()

---
---
## MAPS

This is used to transform or change the representation of data to another form(at).

- There are two ways to transform a data - maps and apply

---

### MAPS method

Takes a function as argument and apply the function to each data points

> **This works on Series object**

In [ ]:
# transform the data points in the rating (points) column by removing its mean from each data point

mean = wine_review.points.mean()

wine_review.points.map(lambda pt_col: pt_col - mean)

### APPLY METHOD

The apply method unlike the map method that works of Series object, transforms a **DataFrame** by **applying the trasformation (function) on each rows of the DataFrame**

The apply method takes a second key value pair parameter, with key named *axis*, whose values is either *columns* or *rows* (or index). The default is rows/index. This indicates how the method should transform the data.

- IF the value is rows or index, then the transformation would apply to each rows of the data

- IF value is set to columns, then the transformation would apply to each column of the data

> The descriptions above isn't the correct picture. If the **rows/index** value is passed to axis, *the apply method returns each rows of the DataFrame* **but the transformation is applied to the data points in each column**. On the other hand, if the **columns** value had been passed, then  *each columns of the DataFrame is returned* **but the transformation is applied to the data points in each row.**

---

The value can also be an integer:
-  where 0 is mapped to rows/index and
-  1 is mapped to columns

In [ ]:
wine_review.apply(lambda col: str(col.province) + ' ' +  str(col.price), axis=1).value_counts()

In [ ]:
# transform the data points in the region_1 column by appending the country to it

t = wine_review.apply(lambda row: str(row.region_1) + ' ' + str(row.country), axis='columns')

t

# the results t above showed that there are empty data points in the column, region_1

In [ ]:
# remove all the data points with nan above in t

# first we know it is only the region_1 label that gives a nan
# so we remove those data points from the DataFrame
cleaned = wine_review.loc[wine_review.region_1.notnull()]

# we transform the DataFrame so as to concatenate the region_1 and country of the cleaned DataFrame
cleaned.apply(lambda col: col.region_1 + ' - ' + col.country, axis=1)

#### ! Both the MAP and APPLY methods does NOT CHANGE the ORIGINAL DATA IN PLACE

They return a new DataFrame instead

# IMPORTANT ADVICE

Clean the DataFrame before applying any Transformation, and not the other way around

In [ ]:
def average_wine(col):
  if col.points >= 90:
    return col.country

wine_review.apply(average_wine, axis=1)

### SUMMARY

##### Selection and Indexing: 
- Based on DataFrame Structure: *loc*, *iloc*
- Based on Conditional expessions: 	- *isnull*, *notnull*, *isin*

##### Summary Functions:
- *map* method: takes a series and transform the data points based on the passed function
- *apply* method: takes a DataFrame and transforms every row/column based on the function passed
-- -
- --

# GROUPING and SORTING

This allows one to perform operations on a *group* of a data in a DataFrame. Unlike the Map and Apply that perform a transformation on *each value* of the DataFrame/Series at a time.

### Grouping
- This takes the entire datapoints in a column and perform certain operations by grouping  the data

### GROUPBY
This sorts the data based on the datapoints that falls into the category of the grouping

- The groupby method takes its first positional parameter (which can be a single value or list of values), which determines how the data is to be grouped

- The DataFrame that result from the grouping is such that, it is indexed by the label used in the grouping. Rows/DataPoints that falls are then grouped together under the same label.

### Any transformation on the grouped result, will be applied first to each group, followed by each elements of the group. e.g. if the first element is to be selected, the selection will be such that all the first elements from each category/group will be returned.

### AGG FUNCTION

This method takes a list of functions that will be applied to the result of a grouped DataFrame

In [ ]:
# group the dataframe by country and province, and determine the first elements of the group

wine_review.groupby(['country', 'points']).apply(lambda df: df.iloc[0])

In [115]:
# apply the min and max function to the price label based on the grouping above

wine_review.groupby(['country', 'points']).price.agg([min, max])

                   min   max
country   points
Albania   88      20.0  20.0
Argentina 80       5.0  72.0
          81       6.0  36.0
          82       5.0  34.0
          83       5.0  75.0
...                ...   ...
Uruguay   86      12.0  35.0
          87      15.0  30.0
          88      16.0  46.0
          89      23.0  60.0
          90      45.0  57.0

[455 rows x 2 columns]

## SORTING