# INTRODUCTION TO PANDAS
Pandas is a popular python library for data analysis.

In [1]:
# import pandas 
import pandas as pd

### Dataframe
There are two core objects in pandas:  **Dataframe** and **Series**

**Dataframe**: it is a table containing a row and column entries;

- It consists of a column name/label
- the row label are by default sequence of natural numbers (0, 1, 2 ...)
- the columns must have the same data length

In [ ]:
# create a Dataframe

pd.DataFrame({'A': [1, 2, 3], 'B': [1, 4, 9], 'C': [1, 8, 27]})

In [ ]:
# the row labels can be modified by using the index key in the Dataframe constructor

pd.DataFrame({'A': [1, 2, 3], 'B': [1, 4, 9], 'C': [1, 8, 27]}, index=['First', 'Second', 'Third'])

### Series
The Series object is used to  create a single *unnamed* column

- row labels can be assigned to Series objects using the index parameter
- the Series can be given an overall name
- a series does not have a column name

In [ ]:
# creating a Series object using its constructor

pd.Series([1, 2, 3, 4, 5, 6], index=['A', 'B', 'C', 'D', 'E', 'F'])

In [ ]:
# adding an overall name to a series object by passing the name argument

pd.Series([1, 2, 3, 4, 5, 6], index=['A', 'B', 'C', 'D', 'E', 'F'], name='Number Series')

### Reading Data Files

It is convinient to read data in file into a table form. This is achieved using the read_(file_type) method

- **Using the WINE REVIEW DATASETS as an example**

In [ ]:
# reading a csv formatted file and examining its content using the head method
wine_review = pd.read_csv("winemag-data_first150k.csv")

wine_review.head()

In [ ]:
# reading a json formatted data and examining its content using the head method

wine_review_json = pd.read_json("winemag-data-130k-v2.json")

wine_review_json.head()

### How large is a Dataframe object?

The shape attribute can be use on a Dataframe to check its size - row * column

In [ ]:
# check the size of the csv file

wine_review.shape

In [ ]:
# check the size of the json formatted file

wine_review_json.shape

- The csv file contains 150,930 rows and 11 columns while
- the json formatted file contains 129,971 rows and 13 colums

#### A csv formatted file can be indexed by a specific column

This means that the column used as index will be the first column in the display

In [ ]:
# index by the pprovince column which corresponds to the sixth column/index

wine_review_indexed_by_province = pd.read_csv("winemag-data_first150k.csv", index_col=[0])

wine_review_indexed_by_province.head()

### REPEATING SCALAR VALUES USING THE INDEX

The number of rows can be constructed based on the the length of the index key.
If a scalar value is passed to the column, the the values will be repeated by the length of the index

In [ ]:
simple_df = pd.DataFrame({'A': 1, 'B': 4}, index=[0,1,2])
simple_df

### Saving a DataFrame Object 
A DataFrame object can be saved in a specific file format by calling its to_method on the DataFrame Object

The file path must be passed as a parameter

- **NOTE**: The extension of the file name must be given along with the parameter

In [ ]:
# to save the simple_df in csv and json format

# csv
df.to_csv('simple_df.csv')

# json

df.to_json('simple_df.json')

## SELECTIONS, INDEXING AND ASSIGNING

- Selecting specific values of a DataFrame or Series 
	- Property of objects are accessed using its attribute
	- Another method is to access it using the column name as index
	- Doing this returns a Series object

> NOTE: using this accessors method, the order of access is COLUMN-FIRST and ROW-SECOND

In [ ]:
wine_review_indexed_by_province

In [ ]:
# access the country column using attributes

wine_review_indexed_by_province.country

In [ ]:
# access the country column using index

wine_review_indexed_by_province['country']

The advantage of index over attribute access lies in the name of the attribute.

IF the attribute is a string with space, then it is impossible to use attribute access.

- **Index access is more general then Attribute access**

## Pandas Indexing
For more advanced operations, instead of using the attribute/index access, there are two *accessor operator* for indexing in pandas:

-  *loc*
- *iloc*

It is important to note that while native index/attribute accessors is based on retrieving entire column of data, then rows, it is the reverse with pandas accessors - loc and iloc

#### ILOC
It is used to select data based on its numerical position.

Instead of returning the column Series object like the native accessors, it will instead return the rows Series object

- iloc is ROW-FIRST and COLUMN-SECOND accessors

In [ ]:
# remove the unamed column by indexing the Dataframe with it
wine_review = pd.read_csv('winemag-data_first150k.csv', index_col=[0])

In [ ]:
wine_review

In [ ]:
# return the first row-based Series

wine_review.iloc[0]

#### Creating a new DataFrame from another DataFrame using ILOC

A new DataFrame can be created from the original DataFrame by using the range indexing

- the range indexing will return a row-based DataFrame object with entries depending on the passed range

In [ ]:
# a new Dataframe object containing the first three rows

wine_review.iloc[0:3]

#### Creating a column-based Series using ILOC

A column based Series can be returned by passing another key to the iloc representing the integer index of the column

- ROW-FIRST then COLUMN-SECOND

In [ ]:
# access the entire column of the province column

# return a dataframe containing the entire dataset, 
# then access the province columnn which corresponds to the integer index - 5


wine_review.iloc[:, 5]

In [ ]:
# return a Series object containing the first five columns of the description attributes

# the description attribute has an integer index - 1
wine_review.iloc[0:5, 1]

#### Using a list-based instead of a range-based to create a DataFrame

Instead of passing a range of values as the first element to the iloc accessor, a list of the needed rows can be used

- **This is more flexible than range-based, since one can pass in the specific row numbers of interest**

In [ ]:
# return a DataFrame containing the first, sixth, second and 10th row - in that order

wine_review.iloc[[0, 6, 2, 10]]

In [ ]:
# get the description column of the DataFrame above

wine_review.iloc[[0, 6, 2, 10], 2]

#### Returning the DataFrame in a reversed order using negative values

By passing a negative-first range-based to the iloc, the DataFrame returned will be in the reverse order

In [ ]:
# get the last 10 elements in the reverse order

wine_review.iloc[-10:]

### SUMMARY of ILOC ATTRIBUTE SELECTION

- It generally allows indexing into  a DataFrame 
- It takes two positional elements - 
	- the first determines the rows of interest, and
	- the second determines the columns of the indexed rows

> **The first positional elements will return a DataFrame containing the rows of interest**, and **the second will return a Series object containing the columns of interest** in the DataFrame returned by the first positional element

the first positional argument can either be a **ranged-based** or a **list of the rows (in integers)** of interest

-- -

### **LABEL-BASED SELECTION - LOC**

It also takes two positional arguments - *the second is optional*

- scalar integer index - this will return a Series representing the rows of the integer index


- range based index- this will return a DataFrame object containing the rows of the range of values


- list index- this does the same thing as range-based, although it has the added advantage of being flexible
	- it will return a DataFrame object containing only the rows of the integer-index in the list

> **NOTE: the first element of the *loc* accessors perform the same operation as the first element of the *iloc* accessor**

#### SCALAR-BASED INDEXING

In [ ]:
# return a Series object containing the third row of the DataFrame

wine_review.loc[2]

#### RANGE-BASED INDEXING

In [ ]:
# get the fifth to the tenth rows of tbe DataFrame

wine_review.loc[4:9]

#### LIST-BASED INDEXING

In [ ]:
# return the 5th, 10th, 200th and 1001th rows of the DataFrame

wine_review.loc[[4, 9, 199, 1000]]

In [ ]:
wine_review.loc[0, 'country'] == wine_review.iloc[0, 0]

### LOC SECOND POSITIONAL ELEMENT

While the first position return a row-based Series/DataFrame object, the second elements will return a column-based value/Series/DataFrame object depending on how the second positional element is passed

> The first positional element can be a boolean
---

Unlike iloc where the second position is an integer, the second position of loc is the data index value (or attribute) which can come in two form

- a scalar data index value: this will return 
	- a value of the data index corresponding to the row, if the first positional element returns a Series object


	- a Series object of the data index corresponding to the elements of the same column returned by the first positional element

- a list of data index: this will return

	- a Series object that corresponds to element of the row having the data index (attribute) in the list, IF the first element returns a Series object

	- a DataFrame object containing the rows of elements indexed by the list, IF the first element returns a DataFrame object


---


> A value/Series/DataFrame object is returned depending on the result of the first positional element

#### VALUE, IF the first element returns a Series Object

In [ ]:
# get a value of the description attribute (data index) of the 150th row

wine_review.loc[147, 'description']

#### SERIES if the first element returned a DataFrame

In [ ]:
# get the series containing the description data index of the first five rows

wine_review.loc[0:4, 'description']

#### SERIES if the first element returns a DataFrame

In [ ]:
# get the series containing the description and province data index of the first row

wine_review.loc[0, ['description', 'province']]

#### DataFrame if the first element returned is a DataFrame

In [ ]:
# get the Dataframe containing the description,province and price data index of the 12th, 40th, 144th and 1201th rows

wine_review.loc[[11, 39, 143, 1200], ['description', 'province', 'price']]

#### Using the ILOC experessions below, we obtain the same this as above

We note how flexible the LOC expression is with respect to the second positional argument. 

Instead of using integer index of the attributes as in iloc, the attribute name is used in loc

In [ ]:
wine_review.iloc[[11, 39, 143, 1200], [1, 5, 4]]

In [ ]:
wine_review[1:5] == wine_review.iloc[1:5]

#### Range-Based Indexing using the second positional element of LOC

 It is possbile to perform a range based index using the second positional argument. 

> the order of the range is preserved and include the endpoints

In [ ]:
wine_review.loc[10, 'description':'province']

### Difference Between ILOC and LOC

The indexing scheme used by ILOC is the same as native Python. LOC on the other hand will include the last index of the range

USING ILOC

In [ ]:
# this will return a DataFrame starting from the 1st integer index to the 4th - it excludes the 5th

wine_review.iloc[0:5]

USING LOC

In [ ]:
# this will return a DataFrame starting from the 1st integer index to the 5th - it does NOT excludes the 5th

wine_review.loc[0:5]

### INDEX MANIPULATION
The index column can be mutated by using any of the columns in the DataFrame

By using the set_index(|index attribut|) method on the DataFrame. This is equivalent to using the |index_col| argument in the read_|file format| of the pandas method.

> the read_|file format| only works with csv formatted files, while the set_index(|index attribute|) works on any file format

In [ ]:
wine_review

In [ ]:
# index the DataFrame using the region_1 attribute

wine_review.set_index('region_1')

## CONDITIONAL SELECTION
While all the previous expressions indexed the DataFrame using the **structural properties** of the DataFame itself, it is possible to index the DataFrame based on conditional properties satisfied the DataFrame

In [ ]:
wine_review.head()

In [ ]:
# return the DataFrame if the country is Spain

wine_review.loc[wine_review.country == 'Spain']

In [ ]:
# return  the Series containing the provinces of all the rows if the country is Spain

wine_review.loc[wine_review.country == 'Spain', 'province']

In [ ]:
# return the DataFrame containing the province and descripton of all the rows IF the country is Spain

wine_review.loc[wine_review.country == 'Spain', ['province', 'description']]

In [ ]:
# return  the DataFrame containing province and region_1 of all the rows IF country is Spain, AND the region_1 is NOT Toro AND the price is less than `0` dollars

wine_review.loc[(wine_review.country == 'Spain') & (wine_review.region_1 != 'Toro') & (wine_review.price < 10), ['province', 'region_1']]

In [ ]:
# return the 1st, 10th and 20th element of the row of the result above

(wine_review.loc[(wine_review.country == 'Spain') & (wine_review.region_1 != 'Toro') & (wine_review.price < 10), ['province', 'region_1']]).iloc[[1, 10, 20]]

In [ ]:
# return the DataFrame containing country,  description, and province IF it is made in Spain, AND its region_ is TORO OR rated (points) is above average ( >=90)

wine_review.loc[
  (wine_review.country == 'Spain') & 
  ((wine_review.region_1 == 'Toro') |
  (wine_review.points >= 90)), 
  ['country', 'description', 'province', 'points', 'region_1']
  ]

### ISIN CONDITIONAL SELECTOR METHOD

Selects data whose values **is in** a list of of values

In [ ]:
# select wines from Spain and US, and return their country, province, price and rating (points)

wine_review.loc[
  wine_review.country.isin(['Spain', 'US']), 
  ['country', 'province', 'price', 'points']]

In [ ]:
# select wines from Spain and US, and return the DataFrame containing country, province, price, points, IF its price is less than 10 and greater than 4 dollars, and it is rated above average (>= 90)

wine_review.loc[
  (wine_review.country.isin(['Spain', 'US'])) & 
  (wine_review.price.isin([5, 6, 7, 8, 9])) &
  (wine_review.points >= 90),
  
  ['country', 'province', 'price', 'points']
  ]

In [ ]:
# we can do  the same operation without using the ISIN operator method

wine_review.loc[
  ((wine_review.country == 'Spain') |
  (wine_review.country == 'US') )&
  (wine_review.price > 4) &
  (wine_review.price < 10) &
  (wine_review.points >= 90),
  
  ['country', 'province', 'price', 'points']
]

Using the **isin** operator method is less written code as shown above

---

#### ISNULL or NOTNULL CONDITIONAL SELECTOR METHOD

This can be used to highlight values in a list of values if they are/ are not empty (NaN)

In [ ]:
# selects price in the DataFrame that is null

wine_review.loc[wine_review.price.isnull()]

In [ ]:
# selects province in the DataFrame whose values is Null
wine_review.loc[wine_review['province'].isnull()]

In [ ]:
# selects province whose region_2 is not null

wine_review.loc[wine_review.region_2.notnull()]

### ASSIGNING DATA

Data can be assigned to a DataFrame by using the dictionary key value variable assignment method.
- the key will serve as the data index or attribute of the data to be assigned

- the value will represent the value of the element in each row
---
A value comes in two forms:
- a constant values assigned to all the rows of that column (key)

- an iterable value [that must match the number of rows of the DataFrame]

In [ ]:
# create a new DataFrame from the wine_review, 
# containing the first 10 rows and 
# the following columns: country, province, price

wr = wine_review.loc[0:9, ['country', 'province', 'price']]
wr

In [ ]:
# assign a new column named continent 
# the values of the new column should be
# North America if country is US, or Europe if in Europe

wr['continent'] = 'West'

for i, ctry in enumerate(wr.country):
  if ctry == 'US':
    # this method sees the chained index as two different operations
    # wr['continent'][i] = 'North America'
    
    # this sees them as the same operation, hence better
    wr.loc[i, 'continent'] = 'North America'
    
    continue
  # wr['continent'][i] = 'Europe'
  wr.loc[i, 'continent'] = 'Europe'

# wr['continent'][1] = 'Europe'
wr

# SUMMARY FUNCTIONS & MAPS

This is a more advanced and flexible way of selecting, indexing and assigning (a/to) DataFrame when compared with using the *iloc* and *loc* accessor operators

This is achieved by applying functions to extract

In [7]:
# pd.set_option('display.max_rows', 7)

In [2]:
wine_review = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)

wine_review.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

### Summary Functions
 
These are functions that helps summarize a DataFrame/Series by restructuring it in certains way.

- Examples of Summary Functions
---
---


#### Describe method:

Generates a high level summary of attributes in a given column, based on the **type of data in that column**


- If the type of data is a string, it provides:

	- the total element in the column excluding the empty (NaN)

	- the number of *unique* elements in that column, 

	- the element with the highest frequency,

	- the frequency of the element having the highest frequency
---
- If the type of data in the column is numeric, it provides:

	- the total number of elements in the column excluding the empty ones (NaN)

	- the mean (average) of the data in the column

	- the standard deviation of the data

	- the maximum element in the data

	- the quantile

In [17]:
# generate a summary of the data in the country column- string type elements

wine_review.country.describe()

# The result shows we have 43 unique countries in the dataset
# the countries with the highest frequency is US, with a frequency of 54,504

count     129908
unique        43
top           US
freq       54504
Name: country, dtype: object

In [18]:
# generate a summary of the data in the price column - numeric type elements

wine_review.price.describe()

count    120975.000000
mean         35.363389
std          41.022218
             ...
50%          25.000000
75%          42.000000
max        3300.000000
Name: price, Length: 8, dtype: float64

#### UNIQUE METHOD

- UNIQUE: the number unique elements for a string and numeric data type

In [43]:
# get the unique elements in the province attribute

wine_review.province.unique()

array(['Sicily & Sardinia', 'Douro', 'Oregon', 'Michigan',
       'Northern Spain', 'Alsace', 'Rheinhessen', 'California', 'Mosel',
       'Other', 'Mendoza Province', 'Virginia', 'Beaujolais',
       'Colchagua Valley', 'Southern Italy', 'Maule Valley', 'Bordeaux',
       'Maipo Valley', 'Washington', 'Central Italy', 'Champagne',
       'Burgundy', 'South Australia', 'Tejo', 'Rapel Valley', 'Galicia',
       'France Other', 'Tuscany', 'Burgenland', 'New York',
       'Leyda Valley', 'Piedmont', 'Stellenbosch',
       'Simonsberg-Stellenbosch', 'Walker Bay', 'Alentejano',
       'Central Spain', 'Southwest France', 'Aconcagua Valley',
       'Loncomilla Valley', 'Marlborough', 'Northeastern Italy',
       'Casablanca Valley', 'Veneto', 'Western Cape', 'Judean Hills',
       'Alentejo', 'Coastal Region', 'Rhône Valley', 'Galilee',
       'Beira Atlantico', 'Tokaj', 'Leithaberg', 'Santorini', 'Kremstal',
       'Catalonia', 'Recas', "Hawke's Bay", 'Curicó Valley',
       'Limarí Valley', 'Colchagua Costa', 'Languedoc-Roussillon',
       'Provence', 'Victoria', 'Rheingau', 'Tokaji', 'Naoussa',
       'Valle de Guadalupe', 'Central Valley', 'Lontué Valley',
       'Italy Other', 'Weinviertel', 'Thermenregion', 'Niederösterreich',
       'Wagram', 'Loire Valley', 'Lombardy', 'Ontario',
       'Österreichischer Sekt', 'Kamptal', 'Steiermark', 'Südsteiermark',
       'Crete', 'Vinho Verde', 'Idaho', 'Western Australia', 'Levante',
       'Martinborough', 'Central Otago', 'Lisboa', 'Texas',
       'Península de Setúbal', 'Australia Other', 'Tasmania', 'Franken',
       'Ahr', 'Nahe', nan, 'Dealu Mare', 'Port', 'Darling', 'Chile',
       'Südoststeiermark', 'Corinth', 'Halkidiki', 'Thrace', 'Pfalz',
       'Robertson', 'Dan', 'Northwestern Italy', 'Andalucia',
       'Awatere Valley', 'Wiener Gemischter Satz', 'Wachau',
       'Pennsylvania', 'Swartland', 'Dão', 'Wagram-Donauland',
       'Rio Claro', 'Villány', 'Cachapoal Valley', 'Jidvei', 'America',
       'Traisental', 'Bairrada', 'Negev Hills', 'Ribatejano', 'Duriense',
       'New Jersey', 'Beiras', 'Spanish Islands', 'Upper Galilee',
       'Vinho Espumante', 'Epanomi', 'Nemea', 'Peloponnese',
       'Aconcagua Costa', 'Moravia', 'Slovenia', 'Terras do Dão',
       'Beira Interior', 'Panciu', 'Bío Bío Valley', 'Romania',
       'Portuguese Table Wine', 'Minho', 'Missouri', 'New Mexico',
       'Nevada', 'Bucelas', 'Peumo', 'San Antonio', 'Carnuntum',
       'Estremadura', 'Canterbury', 'Spain Other', 'Drama', 'Ella Valley',
       'Moselle Luxembourgeoise', 'Württemberg', 'Baden', 'Pangeon',
       'Elqui Valley', 'Wairau Valley', 'Istria', 'Peljesac', 'Kakheti',
       'Canelones', 'England', 'Marchigue', 'Paarl', 'Durbanville',
       'Weinland Österreich', 'Mantinia', 'Chalkidiki', 'Lebanon',
       'Setubal', 'Mosel-Saar-Ruwer', 'Colorado', 'Pocerina',
       'British Columbia', 'Puente Alto', 'Kumeu', 'Trás-os-Montes',
       'Shomron', 'Rapsani', 'Vienna', 'New South Wales', 'Nelson',
       'Waipara Valley', 'Constantia', 'Arizona', 'Pinto Bandeira',
       'Primorska', 'Moldova', 'Uruguay', 'Zenata', 'South Africa',
       'Massachusetts', 'Ohio', 'Ica', 'San Vicente', 'Nashik',
       'Franschhoek', 'South Island', 'Atlantida', 'Thracian Valley',
       'Tarnave', 'Vipavska Dolina', 'Bekaa Valley', 'Elgin',
       'Itata Valley', 'Table wine', 'Samson', 'Madeira', 'Cyprus',
       'Pageon', 'Vinho Espumante de Qualidade', 'Wellington',
       'Danube River Plains', 'Gisborne', 'Obidos', 'Wairarapa',
       'Armenia', 'Santa Cruz', 'Korčula', 'Viile Timisului', 'Illinois',
       'Aegean', 'Simonsberg-Paarl', 'Juanico', 'Black Sea Coastal',
       'Santa Catarina', 'Overberg', 'Atalanti Valley', 'Sebes',
       'Moscatel de Setúbal', 'Macedonia', 'Ribatejo', 'Germany',
       'Palmela', 'Galil', 'Kras', 'Croatia', 'Waipara', 'Olifants River',
       'Montevideo', 'Campanha', 'Israel', 'Neusiedlersee', 'Hungary',
       'Lolol Valley', 'Cauquenes Valley', 'Groenekloof', 'Alenquer',
       'Goriska Brda', 'Murfatlar', 'Moscatel do Douro',
       'Washington-Oregon', 'New Zealand', 'Serra Gaúcha', 'San Jose',
       'Vale dos Vinhedos', 'Mittelburgenland', 'Lutzville Valley',
       'North Carolina', 'Apalta', 'Malleco', 'Guerrouane', 'Valais',
       'Choapa Valley', 'Georgia', 'Ankara', 'Samos', 'Mittelrhein',
       'Eisenberg', 'Sagrada Familia', 'Austria', 'Mostar', 'Iowa',
       'Tulbagh', 'Cederberg', 'Hemel en Aarde', 'Ceres Plateau',
       'Bot River', 'Patras', 'Korinthia', 'Greece', 'San Clemente',
       'Podunavlje', 'Florina', 'Buin', 'Haut-Judeé', 'Ukraine',
       'Terras do Sado', 'Maipo Valley-Colchagua Valley', 'Brazil',
       'Breedekloof', 'Leyda Valley-Maipo Valley', 'Vermont',
       'Switzerland', 'Waitaki Valley', 'Eger', 'Golan Heights',
       'Fruška Gora', 'Philadelphia', 'Muzla', 'Mátra', 'Pirque', 'Negev',
       'Pitsilia Mountains', 'East Coast', 'Mavrodaphne of Patras',
       'Attica', 'Progreso', 'Elazığ-Diyarbakir', 'Jonkershoek Valley',
       'Tikves', 'Vale Trentino', 'Turkey', 'Waiheke Island', 'Molina',
       'Serra do Sudeste', 'Dalmatian Coast', 'Eilandia',
       'Dealurile Munteniei', 'Thraki', 'Curicó and Maipo Valleys',
       'Štajerska', 'Middle and South Dalmatia', 'Kentucky', 'Župa',
       'Pafos', 'Monemvasia', 'Szekszárd', 'Elazığ', 'Cappadocia',
       'Kutjevo', 'Ismarikos', 'Connecticut', 'Sithonia',
       'Curicó and Leyda Valleys', 'Agioritikos',
       'Casablanca-Curicó Valley', 'Piekenierskloof', 'Elim', 'Malgas',
       'Beotia', 'Algarve', 'Retsina', 'Amindeo', 'Coelemu',
       'Cape South Coast', 'Sopron', 'Bulgaria', 'North Dalmatia',
       'Northern Cape', 'Vinho da Mesa', 'Hvar', 'Cephalonia', 'Lemesos',
       'Cahul', 'Cyclades', 'Breede River Valley', 'Ticino',
       'Vlootenburg', 'Brda', 'Dingač', 'Morocco', 'Achaia',
       'Polkadraai Hills', 'Rhode Island', 'Amyndeon', 'Vânju Mare',
       'Hrvatsko Primorje', 'Central Greece', 'Dolenjska',
       'Österreichischer Perlwein', 'Requinoa',
       'Mavrodaphne de Cephalonie', 'Goumenissa', 'Portugal', 'Messinia',
       'Lakonia', 'Markopoulo', 'Vinho Licoroso', 'Paardeberg',
       'San Antonio de las Minas Valley', 'Krania Olympus', 'Corinthia',
       'Slovenska Istra', 'Commandaria', 'Gladstone', 'Jerusalem Hills',
       'Mount Athos', 'Colares', 'Helderberg',
       'Casablanca & Leyda Valleys', 'Dealurile Hușilor', 'Urla-Thrace',
       'Südburgenland', 'Cape Peninsula', 'Codru Region', 'Sterea Ellada',
       'Muscat of Patras', 'Imathia', 'Alenteo', 'Canada Other',
       'Letrinon', 'Muscat of Kefallonian', 'Thessalikos', 'Hawaii',
       'China', 'Limnos', 'Egypt', 'Viile Timis', 'Devon Valley', 'Krk',
       'Arcadia', 'Cape Agulhas', 'Kathikas', 'Vin de Pays de Velvendo',
       'Landwein Rhein', 'Lesbos', 'Távora-Varosa', 'Neuchâtel'],
      dtype=object)

#### MEAN METHOD


- MEAN: returns the mean of the numeric datas

In [46]:
# get the mean of the rating (points)

wine_review.points.mean()

88.44713820775404

#### VALUE_COUNTS METHOD

- VALUE_COUNT: returns the unique element(s) and their corresponding frequency

In [47]:
# get the unique elements and the value count of the country column

wine_review.country.value_counts()

US          54504
France      22093
Italy       19540
            ...
Slovakia        1
China           1
Egypt           1
Name: country, Length: 43, dtype: int64

---
---
## MAPS

This is used to transform or change the representation of data to another form(at).

- There are two ways to transform a data - maps and apply

---

### MAPS method

Takes a function as argument and apply the function to each data points

> **This works on Series object**

In [92]:
l = list(map(lambda a: a[0], (filter(lambda r: type(r[1]) == type(''), zip(wine_review.country, wine_review.region_1)))))

l

['Italy',
 'US',
 'US',
 'US',
 'Spain',
 'Italy',
 'France',
 'France',
 'US',
 'France',
 'US',
 'Italy',
 'US',
 'Argentina',
 'Argentina',
 'Spain',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'Italy',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'France',
 'Italy',
 'Italy',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'France',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'France',
 'Italy',
 'Italy',
 'France',
 'Italy',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'Italy',
 'US',
 'France',
 'US',
 'France',
 'France',
 'US',
 'US',
 'France',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'US',
 'Australia',
 'US',
 'Spain',
 'France',
 'Australia',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'France',
 'France',
 'US',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'Italy',
 'France',
 'US',
 'Italy',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'France',
 'Italy',
 'US',
 'US',
 'Australia',
 'US',
 'France',
 'France',
 'France',
 'Italy',
 'France',
 'Italy',
 'US',
 'Italy',
 'France',
 'France',
 'France',
 'Italy',
 'Italy',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Spain',
 'US',
 'Italy',
 'Italy',
 'France',
 'US',
 'US',
 'France',
 'France',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'France',
 'US',
 'US',
 'Italy',
 'Argentina',
 'US',
 'US',
 'Italy',
 'Italy',
 'Australia',
 'Italy',
 'France',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'France',
 'France',
 'Spain',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'Argentina',
 'US',
 'US',
 'US',
 'US',
 'Argentina',
 'Australia',
 'US',
 'Italy',
 'US',
 'US',
 'Italy',
 'Australia',
 'US',
 'France',
 'US',
 'US',
 'US',
 'Spain',
 'Argentina',
 'Australia',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Argentina',
 'US',
 'US',
 'France',
 'US',
 'US',
 'US',
 'Argentina',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Argentina',
 'Italy',
 'Argentina',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'Italy',
 'US',
 'Argentina',
 'US',
 'Spain',
 'US',
 'France',
 'Italy',
 'France',
 'Australia',
 'Argentina',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'France',
 'Italy',
 'Italy',
 'US',
 'Italy',
 'US',
 'Italy',
 'France',
 'France',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'Italy',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'France',
 'Italy',
 'France',
 'France',
 'Spain',
 'France',
 'US',
 'Spain',
 'Australia',
 'Australia',
 'Australia',
 'Australia',
 'Italy',
 'US',
 'France',
 'US',
 'Australia',
 'France',
 'France',
 'Australia',
 'Italy',
 'US',
 'France',
 'US',
 'Australia',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'Italy',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'US',
 'Italy',
 'France',
 'Italy',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'Italy',
 'Italy',
 'France',
 'France',
 'US',
 'US',
 'US',
 'US',
 'Spain',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'Spain',
 'Spain',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'France',
 'France',
 'Italy',
 'France',
 'Italy',
 'France',
 'France',
 'Canada',
 'US',
 'US',
 'US',
 'Italy',
 'France',
 'US',
 'US',
 'France',
 'France',
 'Italy',
 'France',
 'US',
 'France',
 'France',
 'France',
 'France',
 'US',
 'US',
 'France',
 'France',
 'Italy',
 'US',
 'Italy',
 'US',
 'France',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'Spain',
 'US',
 'US',
 'US',
 'US',
 'Spain',
 'US',
 'US',
 'France',
 'Spain',
 'US',
 'US',
 'France',
 'Spain',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'France',
 'France',
 'US',
 'US',
 'US',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'France',
 'Argentina',
 'France',
 'US',
 'Spain',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Argentina',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'France',
 'France',
 'France',
 'France',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'Spain',
 'Argentina',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'Argentina',
 'US',
 'Italy',
 'US',
 'Italy',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'Australia',
 'US',
 'US',
 'France',
 'France',
 'Australia',
 'US',
 'Spain',
 'Australia',
 'France',
 'France',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'France',
 'Australia',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'Italy',
 'Italy',
 'US',
 'Spain',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'Spain',
 'US',
 'Italy',
 'Italy',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'Italy',
 'US',
 'Argentina',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'US',
 'US',
 'US',
 'US',
 'Argentina',
 'France',
 'France',
 'Argentina',
 'Argentina',
 'US',
 'Italy',
 'US',
 'Argentina',
 'US',
 'France',
 'France',
 'France',
 'Argentina',
 'Argentina',
 'US',
 'Argentina',
 'Italy',
 'US',
 'France',
 'France',
 'US',
 'Italy',
 'Australia',
 'US',
 'US',
 'France',
 'US',
 'France',
 'US',
 'Spain',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Spain',
 'Spain',
 'US',
 'US',
 'Australia',
 'Spain',
 'Australia',
 'Italy',
 'France',
 'US',
 'France',
 'US',
 'US',
 'France',
 'Italy',
 'US',
 'France',
 'Italy',
 'Italy',
 'US',
 'US',
 'Argentina',
 'US',
 'Argentina',
 'US',
 'US',
 'France',
 'US',
 'US',
 'France',
 'France',
 'France',
 'France',
 'France',
 'US',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'Australia',
 'Italy',
 'Spain',
 'US',
 'US',
 'Australia',
 'Italy',
 'US',
 'US',
 'France',
 'France',
 'Spain',
 'Spain',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'France',
 'US',
 'France',
 'France',
 'France',
 'Italy',
 'France',
 'Spain',
 'Spain',
 'US',
 'US',
 'France',
 'US',
 'France',
 'US',
 'Italy',
 'Italy',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'France',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'Italy',
 'Australia',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Spain',
 'Italy',
 'France',
 'France',
 'US',
 'Spain',
 'US',
 'Italy',
 'US',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Australia',
 'Italy',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'Spain',
 'US',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'Argentina',
 'France',
 'US',
 'Argentina',
 'US',
 'US',
 'Italy',
 'Italy',
 'Argentina',
 'Australia',
 'Argentina',
 'Australia',
 'US',
 'Argentina',
 'Italy',
 'US',
 'Argentina',
 'Italy',
 'France',
 'France',
 'France',
 'France',
 'US',
 'US',
 'Spain',
 'US',
 'France',
 'Spain',
 'US',
 'Spain',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'Spain',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'Spain',
 'France',
 'France',
 'France',
 'France',
 'France',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'France',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'US',
 'US',
 'France',
 'Italy',
 'France',
 'Italy',
 'US',
 'Argentina',
 'Australia',
 'US',
 'Spain',
 'US',
 'France',
 'France',
 'France',
 'France',
 'Italy',
 'Italy',
 'Australia',
 'US',
 'US',
 'US',
 'Italy',
 'US',
 'France',
 'France',
 'France',
 'US',
 'France',
 'Australia',
 'US',
 'US',
 'Italy',
 'Italy',
 'US',
 'US',
 'Italy',
 'Italy',
 'France',
 'US',
 'US',
 'Argentina',
 'Italy',
 'France',
 'US',
 'US',
 'US',
 'Spain',
 'Spain',
 'US',
 'Spain',
 'US',
 'France',
 'Italy',
 'Italy',
 'US',
 'Spain',
 'Argentina',
 'Spain',
 'Italy',
 'US',
 'Italy',
 'US',
 'France',
 'France',
 'US',
 'Spain',
 'US',
 'Spain',
 'Italy',
 'US',
 'Italy',
 'France',
 'France',
 'Italy',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'US',
 'Italy',
 'Australia',
 'US',
 'France',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'France',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'US',
 'France',
 'Italy',
 'US',
 'US',
 'US',
 'Italy',
 'Spain',
 'Spain',
 'France',
 'US',
 'Italy',
 'Spain',
 'US',
 'US',
 'Italy',
 'France',
 'France',
 'France',
 'US',
 'US',
 'US',
 'US',
 'France',
 'France',
 'France',
 'US',
 'France',
 'France',
 'France',
 'US',
 'Italy',
 'Italy',
 'US',
 'US',
 'US',
 'US',
 'US',
 'France',
 'Italy',
 'US',
 'Italy',
 'France',
 'US',
 'US',
 'Australia',
 'US',
 'Italy',
 'Italy',
 'Italy',
 'Italy',
 'US',
 'US',
 'Italy',
 'US',
 'Italy',
 'Argentina',
 'US',
 'US',
 'Argentina',
 'Italy',
 'Argentina',
 'France',
 'US',
 'Italy',
 'Australia',
 'Italy',
 'Italy',
 'France',
 'France',
 'France',
 'US',
 'France',
 'France',
 'Argentina',
 'Argentina',
 'Argentina',
 'US',
 'Italy',
 ...]

In [5]:
# transform the data points in the rating (points) column by removing its mean from each data point

mean = wine_review.points.mean()

wine_review.points.map(lambda pt: pt - mean)

0        -1.447138
1        -1.447138
2        -1.447138
3        -1.447138
4        -1.447138
            ...
129966    1.552862
129967    1.552862
129968    1.552862
129969    1.552862
129970    1.552862
Name: points, Length: 129971, dtype: float64

### APPLY METHOD

The apply method unlike the map method that works of Series object, transforms a **DataFrame** by **applying the trasformation (function) on each rows of the DataFrame**

The apply method takes a second key value pair parameter, with key named *axis*, whose values is either *columns* or *rows* (or index). The default is rows/index. This indicates how the method should transform the data.

- IF the value is rows or index, then the transformation would apply to each rows of the data

- IF value is set to columns, then the transformation would applu to each column of the data

---

The value can also be an integer:
-  where 0 is mapped to rows/index and
-  1 is mapped to columns

In [69]:
wine_review.apply(lambda a: str(a.province) + ' ' +  str(a.price), axis=1).value_counts()

Bordeaux nan                    1939
California 25.0                 1704
California 20.0                 1606
California 30.0                 1586
California 40.0                 1500
                                ...
Alentejo 46.0                      1
Moselle Luxembourgeoise 30.0       1
Villány 50.0                       1
Beaujolais 55.0                    1
Other 43.0                         1
Length: 7859, dtype: int64

In [73]:
# transform the data points in the region_1 column by appending the country to it

t = wine_review.apply(lambda row: str(row.region_1) + ' ' + str(row.country), axis='columns')

t

# the results t above showed that there are empty data points in the column, region_1

0                     Etna Italy
1                   nan Portugal
2           Willamette Valley US
3         Lake Michigan Shore US
4           Willamette Valley US
                   ...
129966               nan Germany
129967                 Oregon US
129968             Alsace France
129969             Alsace France
129970             Alsace France
Length: 129971, dtype: object

In [85]:
# remove all the data points with nan above in t

# first we know it is only the region_1 label that gives a nan
# so we remove those data points from the DataFrame
cleaned = wine_review.loc[wine_review.region_1.notnull()]

# we transform the DataFrame so as to concatenate the region_1 and country of the cleaned DataFrame
cleaned.apply(lambda res: res.region_1 + ' - ' + res.country, axis=1)

0                     Etna - Italy
2           Willamette Valley - US
3         Lake Michigan Shore - US
4           Willamette Valley - US
5                  Navarra - Spain
                    ...
129965             Alsace - France
129967                 Oregon - US
129968             Alsace - France
129969             Alsace - France
129970             Alsace - France
Length: 108724, dtype: object